---
- name: Ensure we are using pacman
  ansible.builtin.fail:
    msg: "This role only supports {{ ansible_os_family }} systems that use pacman as a package manager."
  when: ansible_pkg_mgr != "pacman"

- name: Uninstall fish from pacman
  block:
    - name: Update pacman cache
      community.general.pacman:
        update_cache: true
      changed_when: false # Cache update is a preparatory operation, not a state change
      become: true

    - name: Remove fish if it is installed
      community.general.pacman:
        name: "{{ package }}"
        state: absent
      loop: "{{ fish_distro_pkgs }}"
      loop_control:
        loop_var: package
      become: true
